<div class="row">
	<!-- first two days -->
	<div class="col-md-6">
		<!-- left column -->
		<h3>March 25th Morning: <a href="https://librarycarpentry.org/lc-data-intro/" target="_blank"> Working with Data (Regular Expression)</a></h3>
		<table class="table table-striped">
			<tr>
				<!-- row 1   -->
				<td>Before starting</td>
				<td>
					<a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a>
				</td>
			</tr>
			<tr>
				<td>09:00 AM</td>
				<td>
					<a href="https://librarycarpentry.org/lc-data-intro/">1. Regular Expressions</a>
				</td>
			</tr>
			<tr>
				<td>10:00 AM</td>
				<td>Break</td>
			</tr>
			<tr>
				<td>10:15 AM</td>
				<td>
					<a href="https://librarycarpentry.org/lc-data-intro/02-match-extract-strings/index.html">2. Matching & Extracting Strings</a>
				</td>
			</tr>
			<tr>
				<td>11:00 AM</td>
				<td>Break</td>
			</tr>
			<tr>
				<td>11:15 AM</td>
				<td>
					<a href="https://librarycarpentry.org/lc-data-intro/03-quiz/index.html">3. Multiple Choice Quiz</a>
				</td>
			</tr>
			<tr>
				<td>11:50 AM</td>
				<td>
					<a href="https://forms.gle/Eix6jJT6cELURiMN9">Feedback</a>
				</td>
			</tr>
			<tr>
				<td>11:55 AM</td>
				<td>
					<a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a>
				</td>
			</tr>
			<tr>
				<td>12 Noon</td>
				<td>END</td>
			</tr>
		</table>
	</div>
	<div class="col-md-6">
		<!-- right column -->
		<h3>March 25th Afternoon: <a href="https://librarycarpentry.org/lc-shell/" target="_blank">Unix Shell</a></h3>
		<table class="table table-striped">
			<tr>
				<!-- row 1   -->
				<td>Before starting</td>
				<td>
					<a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a>
				</td>
			</tr>
			<tr>
				<td>01:00 PM</td>
				<td>
					<a href="https://librarycarpentry.org/lc-shell/01-intro-shell/index.html">1. What is the shell?</a>
					<br/>
					<a href="https://librarycarpentry.org/lc-shell/02-navigating-the-filesystem/index.html">2. Navigating the filesystem </a>
				</td>
			</tr>
			<tr>
				<td>01:40 PM</td>
				<td>Break</td>
			</tr>
			<tr>
				<td>01:55 PM</td>
				<td>
					<a href="https://librarycarpentry.org/lc-shell/03-working-with-files-and-folders/index.html">3. Working with files and directories</a>
				</td>
			</tr>
			<tr>
				<td>02:35 PM</td>
				<td>Break</td>
			</tr>
			<tr>
				<td>02:50 PM</td>
				<td>
					<a href="https://librarycarpentry.org/lc-shell/04-loops/index.html">4. Automating the tedious with loops</a>
				</td>
			</tr>
			<tr>
				<td>03:30 PM</td>
				<td>Break</td>
			</tr>
			<tr>
				<td>03:45 PM</td>
				<td>
					<a href="https://librarycarpentry.org/lc-shell/05-counting-mining/index.html">5. Counting and mining with the shell</a>
				</td>
			</tr>
			<tr>
				<td>04:20 PM</td>
				<td>
					<a href="https://forms.gle/Eix6jJT6cELURiMN9">Feedback</a>
				</td>
			</tr>
			<tr>
				<td>04:25 PM</td>
				<td>
					<a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a>
				</td>
			</tr>
			<tr>
				<td>04:30 PM</td>
				<td>END</td>
			</tr>

		</table>
	</div>
</div>
<div class="row">
	<!-- days 3 and 4 -->
	<div class="col-md-6">
		<!-- left column -->
		<h3>March 26th Morning: <a href="https://librarycarpentry.org/lc-spreadsheets/" target="_blank">Tidy Data (Spreadsheets)</a></h3>
		<table class="table table-striped">
			<tr>
				<!-- row 1   -->
				<td>Before starting</td>
				<td>
					<a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a>
				</td>
			</tr>
			<tr>
				<td>09:00 AM</td>
				<td>
					<a href="https://librarycarpentry.org/lc-spreadsheets/00-intro/index.html">1. Using spreadsheet programs for data organization</a>
					<br/>
					<a href="https://librarycarpentry.org/lc-spreadsheets/01-format-data/index.html">2. Formatting data tables in Spreadsheets</a>
					<br/>
					<a href="https://librarycarpentry.org/lc-spreadsheets/02-common-mistakes/index.html">3. Formatting problems</a>
				</td>
			</tr>
			<tr>
				<td>09:45 AM</td>
				<td>Break</td>
			</tr>
			<tr>
				<td>10:00 AM</td>
				<td>
					<a href="https://librarycarpentry.org/lc-spreadsheets/03-dates-as-data/index.html">4. Dates as data</a>
				</td>
			</tr>
			<tr>
				<td>10:25 AM</td>
				<td>
					<a href="https://librarycarpentry.org/lc-spreadsheets/04-quality-control/index.html">5. Basic quality assurance and control</a>
				</td>
			</tr>
			<tr>
				<td>10:50 AM</td>
				<td>
					<a href="https://forms.gle/Eix6jJT6cELURiMN9">Feedback</a>
				</td>
			</tr>
			<tr>
				<td>10:55 AM</td>
				<td>
					<a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a>
				</td>
			</tr>

			<tr>
				<td>11:00 AM</td>
				<td>END</td>
			</tr>
		</table>
	</div>
	<div class="col-md-6">
		<!-- right column -->
		<h3>March 26th Afternoon: <a href="https://librarycarpentry.org/lc-r/" target="_blank">Intro to R</a></h3>
		<table class="table table-striped">
			<tr>
				<!-- row 1   -->
				<td>Before starting</td>
				<td>
					<a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a>
				</td>
			</tr>
			<tr>
				<td>01:00 PM</td>
				<td>
					<a href="https://librarycarpentry.org/lc-r/00-before-we-start/index.html">1. Before we Start</a>
				</td>
			</tr>
			<tr>
				<td>01:45 PM</td>
				<td>Break</td>
			</tr>
			<tr>
				<td>02:00 PM</td>
				<td>
					<a href="https://librarycarpentry.org/lc-r/01-intro-to-r/index.html">2. Introduction to R</a>
				</td>
			</tr>
			<tr>
				<td>03:15 PM</td>
				<td>Break</td>
			</tr>
			<tr>
				<td>03:30 PM</td>
				<td>
					<a href="https://librarycarpentry.org/lc-r/02-starting-with-data/index.html">3. Starting with Data</a>
				</td>
			</tr>
			<tr>
				<td>04:20 PM</td>
				<td>
					<a href="https://forms.gle/Eix6jJT6cELURiMN9">Feedback</a>
				</td>
			</tr>
			<tr>
				<td>04:20 PM</td>
				<td>
					<a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a>
				</td>
			</tr>
			<tr>
				<td>04:30 PM</td>
				<td>END</td>
			</tr>
		</table>
	</div>
</div>
