<div> 
  <h3>Working with Data (Regular Expressions)</h3>
  <p>
    This lesson does not require any special setup.
  </p>
</div>


<div id="shell-setup"> {% comment %} Start of 'shell' section. {% endcomment %}
  <h3>The Bash Shell</h3>
  <p>
    Bash is a commonly-used shell that gives you the power to do simple tasks more quickly. Please find setup instructions in the <a href="https://librarycarpentry.org/lc-shell/setup.html">lesson</a>.
  </p>
</div>

<div>
  <h3>Tidy Data (Spreadsheets)</h3>
  <p>
    Spreadsheets are useful for data entry and data organization, and some subsetting and sorting of the data as well as getting an overview of the data. Please find instructions to install it and the data used in the lesson in the <a href="https://librarycarpentry.org/lc-spreadsheets/setup.html">lesson</a>.
  </p>
</div>

<div> 
  <h3>Intro to R</h3>
  <p>
   R is a programming language that is especially powerful for data exploration, visualization, and statistical analysis.Please find setup instructions in
    the <a href="https://librarycarpentry.org/lc-r/setup.html">lesson</a>.
  </p>
</div>
